:root{
    --main-color: #50C878;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    padding: 0;
    margin:0;
}

/*font size la 10px*/
html{
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    color: white;
    font-family: "Workbench", sans-serif;
}

#videoclip-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(20%);
}

.calculator{
    position: absolute;
    top:50%;
    right: 50%;
    transform: translate(60%, 5%);
    width: 153rem;
}

.turn{
    margin-left: 1rem;
}

.turn:hover{
    opacity: 0.8;
    cursor:pointer;
}

.container{
    width: 49.5rem;
    height: 34.5rem;
    position: absolute;
    top:50%;
    right: 50%;
    transform: translate(50.5%, 48%);
    border-radius: 2rem;
    background-color: black;
    color: var(--main-color);
}

h1{
    font-size: 4.4rem;
    padding: 10px;
    text-align: center;
    pointer-events: none;
}

a{
    text-decoration: none;
    padding: 10px;
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

.apasare-buton{
    background-color: red;
    opacity: 0.6;

}
a:hover, a:active, a:focus{
    background-color: var(--main-color);
    color: white;
}

.form-alegere{
    margin-top:2rem;
}

.form-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

#footer{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    align-items: center;
}

/* criptare.html */

.inapoi{
    font-size: 1rem;
    display: flex;
    align-items: center;
    color: #50C878;
}

.inapoi:hover{
    background-color: transparent;
}

.btn{
    border: none;
    background-color: #50C878;
    cursor: pointer;
    padding: 4.5rem;
    font-family: "Workbench", sans-serif;
    font-size: 3rem;
}

/* decriptare.html */